*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#menu {
 
    padding: 0.5em 0 2.5em 0 ;
}
#menu ul{

    display:flex;
    flex-direction: row;
    align-items: end;
    list-style: none;
    justify-content: space-around;
}

#menu ul button{
 
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
    background-color:rgba(0, 0, 0, 0.288) ;
    border-radius: 1em; 
}
#fondo{
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background-image: url(img/59f7695f90ef8.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
}

#section0{
   color: white; 
}



#section1{
display: flex;

background-color: rgba(255, 255, 255, 0.322);
}

#section1 div{

    width: 50%;
    padding: 5em 5em 5em 5em ;
    margin: 2em 2em 2em 2em;
}


#img1{
 
    padding: 3em 3em 3em 3em ;
    
    width: 50%;
}
#section2{
 display: flex;

flex-direction: row-reverse;
background-color:rgba(255, 255, 255, 0.397);
margin: 2em 0 0 0;

}
#img2{

    width: 50%;
    padding: 3em 3em 3em 3em ;
    
}
#section2 div{
    width: 50%;
    padding: 5EM 5EM 5eM 5EM ;
    margin: 5em 5em 5em 5em;

}
#section3{
    display: flex;

background-color: rgba(255, 255, 255, 0.445);
padding: 2em 2em 2em 2em;
margin: 2em 0 0 0;
}
#section3 div{
  
    width: 50%;
    padding: 5em 5em 5em 5em ;
    margin: 2em 2em 2em 2em;
}
#img3{
   
    width: 50%;
    padding: 1em 1em 1em 1em ;
    
}

